{#- Activate script template extending base -#}
{% extends "script.j2" %}

{% block utilities %}
{% include 'partials/utils/checksum.sh' %}{{- "\n" -}}
{% endblock %}

{% from 'partials/arch.j2' import convert as convert_arch, convert_deb as convert_deb_arch %}

{% block script_body %}
{% include 'partials/os.j2' %}{{- "\n\n" -}}

DEB_ARCH=$ARCH{{- "\n" -}}
{{- convert_deb_arch(var='DEB_ARCH') -}}{{- "\n" -}}

# USE PROVIDED PACKAGE #
# -------------------- #
{% include 'partials/utils/parse-from-pkg.sh' %}{{- "\n\n" -}}

# DETERMINE THE VERSION #
# --------------------- #
{% include 'partials/utils/version.sh' %}{{- "\n\n" -}}

# DOWNLOAD THE AGENT #
# ------------------ #
{% include 'partials/utils/download.sh' %}{{- "\n\n" -}}

# ACTIVATE THE AGENT #
# ------------------ #
{% include 'partials/utils/activate.sh' %}{{- "\n" -}}

{% endblock %}
