name: Release

on:
  push:
    tags:
      - '*'

permissions:
  checks: write
  contents: write
  packages: write

jobs:
  ci:
    uses: ./.github/workflows/ci.yml

  release:
    runs-on: ubuntu-latest
    needs: ci
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          # fetch the entire history so that we can correctly determine the previous tag
          fetch-depth: 0
          submodules: false
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Release
        run: ./build/release.sh
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GORELEASER_KEY: ${{ secrets.GORELEASER_KEY }}
